.Header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0);
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(198, 201, 198);
    padding-top:6rem;

        @media (min-width:768px){
            font-size: 4.5rem;
    }
    @media (min-width:992px) {
        padding-top: 7.5rem;
    }
}
