.icon{
    font-size: 20px;
    color:greenyellow;
}
.icon:hover{
    scale: 1.1;
    transition: 0.5s;
}
.cartQuantity{
    margin-left: 1rem;
    font-size: 20px;
    color:greenyellow;
}
.cartWidget{
    padding-left: 1.9rem;
}
