.container{
    background: rgba(73, 71, 71, 0.63);
    border-radius: 10px;
    padding: .5rem;
}
.logo{
    width: 60px;
    border-radius: 50%;
}
.logo:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.bg-light{
    background: rgba(0, 0, 0, 0.815) !important; 
}
.dropdown-menu.show{
    background: rgba(143, 137, 137, 0.815);
    padding: auto;
}
.dropdown-item:hover{
    background: rgba(47, 47, 47, 0.403);
}
.navbar-expand-lg ,.navbar-toggler{
    color: gray;
    background: gray;
}

.enlaces{
    text-decoration: none;
    border-radius: 5px;
    padding: .5rem;
    margin: 1.4rem 1rem auto 0rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    color: greenyellow !important;
}

.enlaces:hover{
    text-decoration: underline;
    transition: 0.5s;
    background: none !important;
}
.enlacesDes{
    margin :.5rem;
}
.enlacesDes a{
    color: rgb(59, 194, 32);
}
.enlacesDes a:hover{
    color:rgb(0, 0, 0);
}
.enlacesDes:hover{
    transition: 0.5s;
    border-radius: 5px;
    background: none !important;
}
.navbar-nav a{
    font-size: 1.3rem;
    color:greenyellow !important;
    background: none;
}
.nav-link{
    padding-top: 1.4rem;
    font-size: 1.1rem;
}
.NavBar{
    position: fixed;
    width: 100%;
    z-index: 1;
    }
#home,#products{
    padding-left: .5rem;
}
